body {
    font-family: Calibri, sans-serif;
}

a {
    text-decoration: none;
}

.wrap {
    width: 1145px;
    margin: 0 auto;
    outline: 1px solid red;
}

header {
    padding-top: 12px;
    padding-bottom: 10px;
    background: rgba(78, 53, 103, 1);
    height: 62px;
    box-sizing: border-box;
}

header a,
header p {
    color: #ffffff;
}

header .wrap {
    display: flex;
    justify-content: space-between;
}

.block_logo {
    display: flex;
    width: 284px;
}

.wrap_logo {
    width: 40px;
    height: 40px;
}

.wrap_logo img {
    object-fit: contain;
    object-position: center bottom;
    width: 100%;
    height: 100%;
}

.block_logo_text {
    margin-left: 12px;

}

.blt_title {
    font-size: 24px;
    line-height: 26px;
}

.blt_line {
    height: 1px;
    width: 144px;
    background: rgba(255, 255, 255, 0.3);
}

.blt_description {
    font-size: 14px;
}

.header_center {
    /* margin-left: 73px; */
    margin-right: auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.hc_line1 {
    display: flex;
}

.hc_line1 a {
    font-size: 11px;
    display: flex;
    align-items: end;
}

.hc_line1_wrap_img {
    width: 20px;
    height: 14px;
}

.hc_line1 a img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center left;
}

.hc_line2 {
    /*outline: 1px solid red;*/
    margin-top: 15px;
}

.menu_header_ul {
    display: flex;
}

.menu_header_ul li {
    margin-left: 40px;
}

.menu_header_ul li:first-child {
    margin-left: 0;
}

.header_info {
    text-align: right;
}

.header_logo_soc {
    height: 18px;
    display: inline-block;
}

.header_logo_soc img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;
}

.header_tell {
    font-size: 18px;
    line-height: 16px;
}

.header_contact {
    font-size: 12px;
    line-height: 8px;
}

.block_map {
    outline: 1px solid red;
    height: 475px;
}

.block_children_circles {
    background: url('../img/bg_children_circles.png') no-repeat center/cover, rgba(226, 226, 226, 0.8);
    padding-top: 30px;
    background-blend-mode: screen;
    padding-bottom: 45px;
}

.title_block {
    font-size: 31px;
    text-align: center;
}

.bcc_container {
    margin-top: 37px;
}

.bcc_col {
    /*display: flex;*/
}

.bcc_col .bcc_item {
    margin-top: 27px;
}

.bcc_col .bcc_item:first-child {
    margin-top: 0;
}

.bcc_item {
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #ffffff;
    padding: 15px;
    padding-bottom: 12px;
    position: relative;
}

.bcc_item_wrap_img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ECECEC;
}

.bcc_item_wrap_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.bcc_item_info {
    margin-left: 20px;
    margin-right: auto;
}

.bcc_item_title {
    font-size: 16px;
    height: 32px;
}

.bcc_item_text {
    font-size: 14px;
}

.bcc_item_read_more {
    /*outline: 1px solid red;*/
    display: flex;
    align-items: flex-end;
    font-size: 11px;
}

.bcc_item_read_more_a {
    color: #000000;
}

.bcc_item_discount {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
    color: #DA5B3C;
}

.bcc_container.slick-slider {
    margin: 0 auto;
    margin-top: 38px;
}

.bcc_container.slick-slider .slick-slide {
    margin: 0 10px;

}

.bcc_container.slick-slider .slick-list {
    margin-left: -11px;
    margin-right: -11px;
}

.bcc_container.slick-slider .slick-item {

}

.block_trial_lesson {
    background: url("../img/bg_trial_lesson.png") no-repeat center/cover, rgb(45 36 54 / 44%);
    background-blend-mode: color-burn;
    padding-bottom: 20px;
}

.btl_container {
    color: #ffffff;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.btl_item {
    /*outline: 1px solid green;*/
}

.btl_item_title {
    font-size: 31px;
}

.btl_item_text {
    margin-top: 18px;
    font-size: 16px;
}

.btl_item_total {
    margin-top: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 77px;
    width: 366px;
    text-align: center;
    font-size: 44px;
}

.btl_item_total_old {
    color: #DA5B3C;
    text-decoration: line-through;
    font-weight: 100;
}

.btl_form {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    width: 366px;
    box-sizing: border-box;
    position: relative;
    padding: 24px 23px;
    padding-top: 21px
}

.wrap_fire {
    position: absolute;
    top: -20px;
    left: 33px;
    width: 34px;
    height: 44px;
}


.wrap_fire img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.btl_form_wrap_input {
    margin-top: 16px;
}

.btl_form input {
    display: block;
    margin-top: 12px;
    width: 100%;
    border-radius: 13px;
    height: 30px;
    padding-left: 14px;
    border: none;
    box-sizing: border-box;
    font-size: 13px;
}

.btl_form input:first-child {
    margin-top: 0;
}

.btl_form_title {
    font-size: 21px;
    text-align: center;
}

.btl_form input[type="submit"] {
    background: #DA5B3C;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    height: auto;
}

.block_pre-school_development {
    background: url("../img/bg_pre-school_development.png") no-repeat center/cover;
    /* background-blend-mode: screen; */
    padding-top: 30px;
    padding-bottom: 29px;
}

.text_block {
    margin-top: 27px;
    font-size: 16px;
    line-height: 1.15;
}

.bpsd_wrap_card {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.bpst_ic_title {
    font-size: 30px;
    text-align: center;
}

.bpsd_item_card {
    width: 365px;
    /*outline: 1px solid red;*/
}

.bpsd_ic_block {
    margin-top: 23px;
    /*outline: 1px solid red;*/
    padding: 20px;
    padding-top: 23px;
    box-sizing: border-box;
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bpsp_ic_block_title {
    font-size: 23px;
    padding-left: 50px;
    background-image: url("../img/medal.png");
    background-size: auto 50px;
    background-repeat: no-repeat;
    height: 90px;
}

.bpsd_ic_block_list {
    font-size: 18px;
    margin-top: 10px;
}

.bpsd_ic_block_list li:before {
    content: "â€¢";
    width: 15px;
    display: inline-block;
}

.bpsd_ic_block_list li:first-child {
    margin-top: 0;
}

.bpsd_ic_block_list li {
    margin-top: 23px;
    font-size: 18px;
}

.bpsd_ic_block_read_more {
    background: #DA5B3C;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    height: auto;
    border-radius: 8px;
    display: inline-block;
    padding: 0px 22px;
    margin-top: auto;
    margin-left: auto;
}

.block_training_with_us {
    height: 848px;
    outline: 1px solid green;
    padding-top: 20px;
    box-sizing: border-box;
    background: rgba(241, 241, 241, 1);
}

.block_we_teach {
    background: url("../img/bg_we_teach.png") no-repeat center/cover, rgb(45 36 54 / 44%);
    background-blend-mode: color-burn;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container_we_teach {
    margin-top: 38px;
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -28px;
}

.cwt_item a {
    box-sizing: border-box;
    width: 370px;
    display: block;
    line-height: 39px;
    font-size: 18px;
    color: #ffffff;
    background: rgba(78, 53, 103, 1);
    border: 1px solid #ffffff5e;
    border-radius: 15px;
    /*overflow: hidden;*/
    padding-left: 60px;
    position: relative;
}


.cwt_item a:before {
    content: "â€¢";
    font-size: 12px;
    position: absolute;
    color: #ffffff;
    left: 20px;
    top: 0;
}

.cwt_item a:hover {
    background: #DA5B3C;
    border: 3px solid #ffffff;
    color: #ffffff;
    line-height: 35px;
}

.cwt_item {
    margin-bottom: 28px;
}

.block_gratitude {
    background: url("../img/bg_gratitude.png") no-repeat center/cover;
    /* background-blend-mode: screen; */
    padding-top: 30px;
    padding-bottom: 29px;
}


.container_gratitude {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cg_wrap_img {

}

.block_ratings_and_reviews {
    background: rgba(241, 241, 241, 1);
    padding-top: 20px;
    padding-bottom: 57px;
}

/* block_ratings_and_reviews rar */
.rar_container {
    margin-top: 37px;
}

.rar_col {
    /*display: flex;*/
}

.rar_col .rar_item {
    margin-top: 16px;
}

.rar_col .rar_item:first-child {
    margin-top: 0;
}

.rar_item {
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 127px;
    box-sizing: border-box;
    background: #ffffff;
    padding: 15px;
    padding-bottom: 12px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.rar_item_wrap_img {
    width: 92px;
    height: 92px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ECECEC;
    flex-shrink: 0;
    flex-grow: 0;
}

.rar_item_wrap_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.rar_item_info {
    margin-left: 6px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.rar_item_title {
    font-size: 16px;
    height: 32px;
}

.rar_item_text {
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
}

.rar_item_wrap_star {
    display: flex;
    margin-top: auto;
}

.wrap_star_img {
    margin-right: 5px;
    /*outline:1px solid red;*/
    width: 20px;
    height: 20px;
}

.wrap_star_img img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

.rar_container.slick-slider {
    margin: 0 auto;
    margin-top: 18px;
}

.rar_container.slick-slider .slick-slide {
    margin: 0 10px;

}

.rar_container.slick-slider .slick-list {
    margin-left: -11px;
    margin-right: -11px;
}

.rar_container.slick-slider .slick-item {

}

/*.slick-arrow.slick-prev {*/
/*    !* left: 0; *!*/
/*    background: url("https://img.icons8.com/ios/50/000000/long-arrow-left.png") 0 0 / 100% no-repeat;*/
/*}*/
/*.slick-arrow.slick-next {*/
/*    !* right: 0; *!*/
/*    background: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png") 0 0 / 100% no-repeat;*/
/*}*/


.slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
}

.slick-next:before,
.slick-prev:before{
    content: "";
    background: url("../img/arrow.png") no-repeat center / contain;
    display: block;
    width: 16px;
    height: 32px;
    font-size: 30px;
    /*outline: 1px solid red;*/
    top:-8px;
    position:absolute
}

.slick-prev:before{
    left:-25px;
}

.slick-next:before {
    transform: rotate(180deg);
    right:-25px;
}

.block_special_offers{
    background: url("../img/bg_special_offers.png") no-repeat center/cover, rgb(45 36 54 / 44%);
    background-blend-mode: color-burn;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 50px;
}